/* #root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Outfit', sans-serif;
  /* Added some basic responsive adjustments */
  padding: 0 15px; /* Add some padding on smaller screens */
  box-sizing: border-box; /* Ensures padding doesn't add to the total width */
}

@media (max-width: 768px) {
  #root {
    max-width: 100%; /* Allow #root to take full width on smaller screens */
    padding: 0 10px;
  }
} */





